<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>简单的折线图</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <br>
    <br>
    <br>
    <h1 style="color:red; text-align:center;">你好吗？</h1>
    <div class="row">
        <div class="col-md-8">
        {{ plot_div | safe }}
        </div>
    </div>
    <h1 style="color:blue; text-align:center;">我很好！</h1>
</div>

</body>
</html>
