{% extends "base.html" %}
{% load staticfiles %}
{% block title %}blog titles{% endblock %}
{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>我的博客</h1> 
</div>
<div class="row">
    <div class="col-xs-12 col-md-8"> 
    <ul>
    {% for blog in blogs %}
        <li><a href="{{ blog.id }}">{{ blog.title }}</a></li> 
    {% endfor %}
    </ul>
    </div>
    <div class="col-xs-6 col-md-4">
    <p>免费使用和自由传播的类UNIX操作系统，基于POSIX的多用户、多任务、支持多线程和多CPU的操作系统</p>
    <img src="{% static '/images/linux_blog.jpg' %}"> 
    </div>
</div>
{% endblock %}
